<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>UOK FCT AI Based Water Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="https://static.vecteezy.com/system/resources/previews/011/029/799/original/blue-water-drop-for-symbol-design-png.png">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a href="{{ url_for('index_form')}}" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary">AIBWMS</h3>
            </a>

            <div class="navbar-nav w-100">
                <a href="{{ url_for('homeAdmin')}}" class="nav-item nav-link" style="font-size:20px; font-weight:600;"><i class="fa fa-home me-2"></i>Home</a>
                <a href="{{ url_for('dashboardAdmin_form')}}" class="nav-item nav-link" style="font-size:20px; font-weight:600;"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="{{ url_for('analysingAdmin_form')}}" class="nav-item nav-link" style="font-size:20px; font-weight:600;"><i class="fa fa-keyboard me-2"></i>Analysing</a>
                <a href="{{ url_for('predictionAdmin_form')}}" class="nav-item nav-link" style="font-size:20px; font-weight:600;"><i class="fa fa-table me-2"></i>Predictions</a>
                <a href="{{ url_for('signinAccessAdmin_form')}}" class="nav-item nav-link" style="font-size:20px; font-weight:600; color: #826AF9 !important;"><i class="fas fa-universal-access"></i>   Access</a>
                <a href="{{ url_for('meterAdmin_form')}}" class="nav-item nav-link" style="font-size:20px; font-weight:600;"><i class="fab fa-readme"></i>   Meter</a>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="{{ url_for('homeAdmin')}}" class="navbar-brand d-flex d-lg-none me-4">
                <h3 class="text-primary">AIBWMS</h3>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <h3 style="margin: 2%"><a href="{{ url_for('accessAdmin_form')}}">ACCESS</a></h3>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown" style="position: relative;">

                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="position: relative;">
                        <i class="fa fa-bell me-lg-2" style="position: relative;">
                            <!-- Red dot for notification -->
                            {% if usage_notification or ph_notification %}
                            <span class="notification-dot"></span>
                            {% endif %}
                        </i>
                        <span class="d-none d-lg-inline-flex">Notification</span>
                    </a>


                    <div class="dropdown-menu dropdown-menu-end bg-transparent border-0 rounded-0 rounded-bottom m-0" style="width: 400px;">
                        {% if usage_notification %}
                        <a href="{{ url_for('notifications_admin')}}">
                            <div class="alert bg-warning text-dark mb-0 " role="alert">
                                <strong>Water Usage Alert!</strong> Your consumption is above the recommended level!
                            </div>
                            <br>
                        </a>


                        {% if ph_notification %}
                        <a href="{{ url_for('notifications_admin')}}">
                            <div class="alert bg-warning text-dark mb-0 " role="alert">
                                <strong>pH Level Warning!</strong> pH out of safe range!
                            </div>
                        </a>
                        {% endif %}


                        {% else %}
                        {% if ph_notification %}
                        <a href="{{ url_for('notifications_admin')}}">
                            <div class="alert bg-warning text-dark mb-0 " role="alert">
                                <strong>pH Level Warning!</strong> pH out of safe range!
                            </div>
                        </a>
                        {% else %}
                        <div class="alert alert-secondary" role="alert">
                            No new notifications
                        </div>
                        {% endif %}

                        {% endif %}

                    </div>

                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        {% if admin.picture %}
                        <img src="{{ url_for('serve_uploaded_picture', filename=admin.picture) }}" alt="Profile Picture" class="rounded-circle pt-2 pb-2" width="50px" height="50px">
                        {% else %}
                        <img src="{{ url_for('static', filename='img/profile.png') }}" alt="Profile Picture" class="rounded-circle pt-2 pb-2" width="50px" height="50px">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="{{ url_for('profileAdmin_form')}}" class="dropdown-item">My Profile</a>
                        <a href="{{ url_for('report')}}" class="dropdown-item">Reports</a>
                        <a href="{{ url_for('index_form')}}" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <!-- Add Your items Here -->

        <!-- Table Start -->
        <div class="container-fluid pt-4 px-4 ">
            <div class="row g-4">

                <form method="GET" action="{{ url_for('accessAdmin_form') }}">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <input type="text" name="search_email" class="form-control" placeholder="Search by Email">
                        </div>
                        <div class="col-md-4">
                            <select name="search_role" class="form-control">
                                <option value="">Search by Role</option>
                                <option value="admin">Admin</option>
                                <option value="student">Student</option>
                                <option value="staff">Staff</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>


                <!-- Start Student Table -->
                <div class="col-12">
                    <div class="bg-secondary rounded h-100 p-4" style="background-color: #1A1F35 !important;">
                        <h6 class="mb-4" style="font-size: 25px !important;">Student Table</h6>
                        <div class="table-responsive">
                            <table class="table" style="color:rgba(255, 255, 255, 0.7) !important;">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Contact Number</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>{{ student.id }}</td>
                                    <td>{{ student.fname }} {{ student.lname }}</td>
                                    <td>{{ student.email }}</td>
                                    <td>{{ student.cnumber }}</td>
                                    <td>
                                        <!-- Delete button -->
                                        <form action="{{ url_for('delete_student') }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this student?');">
                                            <input type="hidden" name="student_id" value="{{ student.id }}">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <!-- End Student Table -->

                <!-- Start Lecturer Table -->

                <div class="col-12">
                    <div class="bg-secondary rounded h-100 p-4" style="background-color: #1A1F35 !important;">
                        <h6 class="mb-4" style="font-size: 25px !important;">Staff Table</h6>
                        <div class="table-responsive">
                            <table class="table" style="color:rgba(255, 255, 255, 0.7) !important;">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Contact Number</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for staff in staff %}
                                <tr>
                                    <td>{{ staff.id }}</td>
                                    <td>{{ staff.fname }} {{ staff.lname }}</td>
                                    <td>{{ staff.email }}</td>
                                    <td>{{ staff.cnumber }}</td>
                                    <td>
                                        <!-- Delete button -->
                                        <form action="{{ url_for('delete_staff') }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this staff?');">
                                            <input type="hidden" name="staff_id" value="{{ staff.id }}">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <!-- End Lecturer Table -->

                <!-- Start Admin Table -->

                <div class="col-12">
                    <div class="bg-secondary rounded h-100 p-4" style="background-color: #1A1F35 !important;">
                        <h6 class="mb-4" style="font-size: 25px !important;">Admin Table</h6>
                        <div class="table-responsive">
                            <table class="table" style="color:rgba(255, 255, 255, 0.7) !important;">

                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Contact Number</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for admin in admins %}
                                <tr>
                                    <td>{{ admin.id }}</td>
                                    <td>{{ admin.fname }} {{ admin.lname }}</td>
                                    <td>{{ admin.email }}</td>
                                    <td>{{ admin.cnumber }}</td>
                                    <td>
                                        <!-- Delete button -->
                                        <form action="{{ url_for('delete_admin') }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this admin?');">
                                            <input type="hidden" name="admin_id" value="{{ admin.id }}">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>

                            </table>

                            <a href="{{ url_for('addAdmin_form')}}" class="btn btn-primary" style="background-color: #192a56 !important; margin-left: 1000px !important;">Add Admin</a>
                        </div>
                    </div>
                </div>

                <!-- End Admin Table -->

            </div>
        </div>
        <!-- Table End -->

        <!-- Footer Start -->
        <footer class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded-top p-3">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-3 text-left">
                        <h3 style="color: #826AF9;">AIBWMS</h3>
                        <p style="text-align: justify; color: #fff;">Our current water management system, while equipped with monitoring tools, lacks predictive analytics, leading to pollution and dwindling water quality. </p>
                    </div>
                    <div class="col-12 col-md-3 text-left">
                        <h5 style="color: #826AF9;">Faculty</h5>
                        <a href="https://fct.kln.ac.lk/" target="_blank">Home</a><br>
                        <a href="#" target="_blank">Academic</a><br>
                        <a href="#" target="_blank">Departments</a><br>
                        <a href="https://fct.kln.ac.lk/index.php/contact" target="_blank">Contact</a><br>
                    </div>
                    <div class="col-12 col-md-3 text-left">
                        <h5 style="color: #826AF9;">Useful Links</h5>
                        <a href="{{ url_for('homeAdmin')}}" target="_blank">Home</a><br>
                        <a href="{{ url_for('dashboardAdmin_form')}}" target="_blank">Dashboard</a><br>
                        <a href="{{ url_for('analysingAdmin_form')}}" target="_blank">Analysis</a><br>
                        <a href="{{ url_for('predictionAdmin_form')}}" target="_blank">Predictions</a><br>
                        <a href="{{ url_for('signinAccessAdmin_form')}}" target="_blank">Access</a><br>
                        <a href="{{ url_for('meterAdmin_form')}}" target="_blank">Meter</a><br>
                    </div>
                    <div class="col-12 col-md-3 text-left">
                        <h5 style="color: #826AF9;">Contact</h5>
                        <div style="display: flex;" class="contact-inner">
                            <div class="contact-icon">
                                <i class="fa fa-phone me-2"></i><br>
                                <i class="fa fa-envelope me-2"></i><br>
                                <i class="fa fa-map me-2"></i><br>
                            </div>
                            <div class="contact-detail">
                                <a style="color: #fff;">+94 113 442623</a><br>
                                <a style="color: #fff;">officefct@kln.ac.lk</a><br>
                                <a style="color:#fff;">Faculty of Computing and Technology,<br>University Drive,<br>Bulugaha Junction, <br>Kelaniya,<br>Colombo,<br>Sri Lanka.<br></a><br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->

    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='lib/chart/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<script src="https://kit.fontawesome.com/92c64e3f46.js" crossorigin="anonymous"></script>

<!-- Template Javascript -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
