
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
<form id="resetPasswordForm" method="POST" action="/resetPasswordStudent">
    <label for="newpassword">New Password</label>
    <input type="password" id="newpassword" name="newpassword" placeholder="New Password" required>
    <br><br>
    <label for="reenternewpassword">Re-enter New Password</label>
    <input type="password" id="reenternewpassword" name="reenternewpassword" placeholder="Re-enter New Password" required>
    <br><br>
    <button type="submit">Submit Password</button>
</form>

<!-- <script>
    document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
        var newPassword = document.getElementById('newpassword').value;
        var reenteredPassword = document.getElementById('reenternewpassword').value;

        if (newPassword !== reenteredPassword) {
            alert('Passwords do not match. Please re-enter.');
            event.preventDefault(); // Prevent form submission
        }
    });
</script> -->
</body>
</html>
